.signup-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    text-align: center;
    margin: 20px auto;
}
.signup-container h1 {
    margin-bottom: 10px;
    color: white;
}
.signup-container p {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 20px;
}
.signup-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #292929;
    color: #ffffff;
}
.signup-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #00bfa6;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}
.signup-container button:hover {
    background-color: #009f8e;
}
.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.social-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #444;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.social-buttons button:hover {
    background-color: #292929;
}
.logo-icon{
    width: 20px;
    height: 20px;
}